_AWS_SHARED_CREDENTIALS_FILE

bootstrap/.terraform.*
bootstrap/terraform.tfstate
bootstrap/terraform.tfstate.backup
bootstrap/terraform.*
bootstrap/.terraform/*


terraform/.terraform.*
terraform/.terraform/*

terraform/lambda.zip

